docutils == 0.12
sphinx == 1.6.7
sphinx-rtd-theme
sphinx-copybutton == 0.2.6
sphinx-markdown-tables
-e git+git://github.com/mgaitan/sphinxcontrib-mermaid#egg=sphinxcontrib-mermaid > 0.3
-e git+git://github.com/rtfd/recommonmark.git#egg=recommonmark > 0.4.0
sphinx-notfound-page == 0.1
commonmarkextensions == 0.0.5
commonmark == 0.8.1
git-lfs
