{% extends "!layout.html" %}
{%- if pagename == '404' %}{% set metatags = '<base href="/zh_CN/latest/">\n  ' + metatags %}{% endif %}
{% block sidebartitle %}
{{ super() }}
<br>
<img style="background-color:#fff; height: unset; width: unset;" alt="WeBASE"
    src={{ pathto("_static/images/logo/logo.jpg",1) }} />
<a href="https://github.com/WeBankFinTech/WeBASE"><img style="background: transparent; padding: 0px; margin: auto auto auto auto; height: 30px;"
        alt="GitHub" src="{{ pathto("_static/images/github_button.svg", 1) }}" /></a>
<a href="https://gitee.com/WeBank/WeBASE"><img style="background: transparent; padding: 0px; margin: auto auto auto auto; height: 30px;"
        alt="Gitee" src="{{ pathto("_static/images/gitee.svg", 1) }}" /></a>
<a href="{{ pathto("docs/More/community.html#QR", 1) }}"><img 
    style="background: transparent; padding: 0px; margin: auto auto auto auto; height: 30px;" alt="微信群和公众号"
    src="{{ pathto("_static/images/wechat_button.svg", 1) }}" /></a>
<br>
{% endblock %}
